---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Industries from "../components/Industries.astro";
import BigStatement from "../components/BigStatement.astro";
import Work from "../components/Work.astro";
import Mosaic from "../components/Mosaic.astro";
import About from "../components/About.astro";
import Approach from "../components/Approach.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main id="top">
    <Hero />
    <Industries />
    <BigStatement />
    <Work />
    <Mosaic />
    <About />
    <Approach />
    <Contact />
  </main>
  <Footer />
</Layout>
